body {
    background-image: linear-gradient(to right, #a8c0ff, #3f2b96);
}

a {
    text-decoration: none;
    color: black;
}

span {
    color: #3f2b96;
    font-weight: bold;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.button-logout {
    background: transparent;
    border: none;
    color: aliceblue;
}

.dashboard_wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    gap: 20px;
}

.dashboard_wraper-menu {
    background-color: aliceblue;
    border-radius: 10px;

}

.dashboard_wraper-content {
    background-color: aliceblue;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
}

table {
    margin-top: 20px;
    width: 100%;
}

thead td {
    padding: 10px;
    font-size: 1.5rem;
    background-color: rgba(63, 43, 150, 0.55);
}

tbody td {
    padding: 10px;
}

.table-btn-wrapper {
    display: flex;
    gap: 30px;
}
